<div class="mapper">
    <a href="/" class="mapper-item">
        <span>Trang chủ</span>
    </a>
</div>
<div class="slide">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>

        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../img/slide/5df1654bc1e7051a774c79b34d843d6b.png.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../img/slide/b10881e82fa7c3e6b70d710854de2542.jpg.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../img/slide/mua-5-tang-1.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../img/slide/tuan-le-sach-azbooks-giam-den-50-tiki-banner.jpg" class="d-block w-100"
                    alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="best-seller-carousel">
    <div class="header">
        <div class="header-left">
            <div>
                <img src="https://frontend.tikicdn.com/_desktop-next/static/img/giasoc.svg" alt="flash deal"><img
                    width="21" src="https://frontend.tikicdn.com/_desktop-next/static/img/dealFlashIcon.svg"
                    alt="flash deal" class="flash-icon">
                    <img
                    src="https://frontend.tikicdn.com/_desktop-next/static/img/homnay.svg" alt="flash deal"></div>
            <div>
                <div class="count-down-time__flash-sale">
                    <span>00</span>:
                    <span
                        class="min">29
                        </span>:
                    <span>58</span>
                </div>
            </div>            
        </div>
    </div>
    <div class="owl-carousel owl-theme">
        {{#each books}}
        <div class="item product-saleOff-item">
            <a href="/books/{{this.slug}}/show">
                <img src="{{this.image}}" alt="{{this.name}}" class="img-product-sale">
                <div class="body-product-saleOff">
                    <div class="product-saleOff-name">
                        {{this.bookName}}
                    </div>
                    <div class="d-flex justify-content-end">
                        <div class="rating">
                            <span class="small-text" style="color: black; font-size: 10px">
                                5/5
                                <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                            </span>
                        </div>
                        <div class="sold-product-count">
                            <p class="small-text" style="font-size:10px;">Đã bán 1000+</p>
                        </div>
                    </div>
                </div>
                <div class="deals__qty">
                    <div 
                        class="deals__progress" style="width: 87%;">
                    </div>
                    <span>Sắp bán hết</span>
                    <img class="fire-icon" src="https://frontend.tikicdn.com/_desktop-next/static/img/fire_icon.svg"></div>
            </a>
        </div>
        {{/each}}
    </div>
</div>
<div class="row main">
    <div class="col-xl-3 col-left border-solid-1">
        <div class="animate__animated animate__backInLeft">
            <div class="block border-solid-1">
                <p class="title">Danh mục sản phẩm</p>
                <div class="list colapsed">
                    <ul>
                        <li>
                            <a href="/vietnam_books" class="item item--category">Sách Tiếng Việt</a>
                        </li>
                        <li>
                            <a href="/english_books" class="item item--category">Sách Tiếng Anh</a>
                        </li>
                        <li>
                            <a href="/abilities_books" class="item item--category">Sách Kĩ Năng Sống</a>
                        </li>
                        <li>
                            <a href="/detective_books" class="item item--category">Truyện Trinh Thám</a>

                        </li>
                        <li>
                            <a href="/comic_books" class="item item--category">Truyện Tranh</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class=" block border-solid-1 sidebar_section">
                <p class="title">
                    LỌC THEO GIÁ TRỊ SẢN PHẨM
                </p>
                <p>
                    <input type="text" id="amount" readonly style="border:0;">
                </p>
                <div id="slider-range"></div>
                <div class="filter_button"><span>Lọc</span></div>
            </div>
            <div class="block border-solid-1">
                <p class="title">Lọc theo đánh giá</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Từ
                        <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                        <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                        <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                        <i style="color: #fdd836;" class="fa-solid fa-star-half-stroke"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Từ
                        <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                        <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                        <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                        <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Từ
                        <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                        <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                        <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                        <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                        <i style="color: #fdd836;" class="fa-solid fa-star-half-stroke"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Từ
                        <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                        <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                        <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                        <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                        <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                    </label>
                </div>
            </div>
            <div class="block border-solid-1">

            </div>
        </div>
    </div>
    <div class="col-xl-9 col-right border-solid-1">

        <div class="container-fluid mt-3">
            <div class="product-controller">
                <ul class="product_sorting">
                    <li>
                        <span class="type_sorting_text">Sắp xếp mặc định</span>
                        <i class="fa fa-angle-down"></i>
                        <ul class="sorting_type">
                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Sắp
                                    xếp mặc định</span></li>
                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Giá</span>
                            </li>
                            <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Tên sản phẩm
                                    a-z</span></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="row product-show">
                {{#each books}}
                <div class="col-xxl-3 col-md-3 col-xs-6 product-item">
                    <div class="card card--item">
                        <a href="/books/{{this.slug}}/show">
                            <img class="card-img-top" src="{{this.image}}" alt="{{this.bookName}}">
                        </a>
                        <div class="card-body">
                            <a href="/books/{{this.slug}}/show" style="text-decoration: none;">
                                <h6 class="card-title" style="font-size: 0.8rem;">{{this.bookName}}</h6>
                            </a>
                            <div class="d-flex justify-content-end">
                                <div class="rating">
                                    <span class="small-text" style="color: black;">
                                        5/5
                                        <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                                    </span>
                                </div>
                                <div class="sold-product-count">
                                    <p class="small-text">Đã bán 1000+</p>
                                </div>
                            </div>
                            <div class="float-end price-js">
                                <p style="color: red;" class="product-price">{{this.price}}</p>
                                <div class="current-price"></div>
                            </div>
                        </div>
                        <div class="discount"></div>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>

    </div>
</div>
{{!-- Deal of the week --}}
<div class="deal_ofthe_week">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="deal_ofthe_week_img">
                    <img src="../../img/product/reading_book.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 text-right deal_ofthe_week_col">
                <div class="deal_ofthe_week_content d-flex flex-column align-items-center float-right">
                    <div class="section_title">
                        <h2>Ưu đãi trong tuần</h2>
                    </div>
                    <ul class="timer">
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="day" class="timer_num">03</div>
                            <div class="timer_unit">Ngày</div>
                        </li>
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="hour" class="timer_num">15</div>
                            <div class="timer_unit">Giờ</div>
                        </li>
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="minute" class="timer_num">45</div>
                            <div class="timer_unit">Phút</div>
                        </li>
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="second" class="timer_num">23</div>
                            <div class="timer_unit">Giây</div>
                        </li>
                    </ul>
                    <div class="deal_ofthe_week_button"><a href="#">Mua ngay</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    const priceList = document.querySelectorAll('.product-price')
    const currentPriceList = document.querySelectorAll('.current-price')
    const saleOff = 30;


    function formatPrice(price) {
        return price.replace(/\B(?=(\d{3})+(?!\d))/g, ',')
    }

    priceList.forEach((item) => {
        let price = parseInt(item.innerText) - (parseInt(item.innerText) * (saleOff / 100))
        item.innerText = formatPrice(price.toString()) + ' đ'
    })

    document.querySelectorAll('.discount').forEach((item) => {
        item.innerText = saleOff + '%';
    })
</script>