<div class="mapper">
    <a href="/" class="mapper-item">
        <span>Trang chủ</span>
     </a>    
        <i class="fa-solid fa-angle-right"></i>
        <span>{{book.bookName}}</span>
   
</div>
<div class="container-fluid product-show-details">
    <div class="row">
        <div class="col-lg-4">
            <img src="{{book.image}}" alt=""  width="400px" height="400px">
        </div>
        <div class="col-lg-8">
            
            <div class="author-name">
                <p class="title">Tác giả : {{book.authorName}}</p>
            </div>
            <div class="product-name">
                <p class="title">{{book.bookName}}</p>  
            </div>
            <div class="product-review">
                <div class="rating">
                    <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                    <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                    <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                    <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                    <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                </div>
                <a href="#" class="number">(Xem 891 lượt đánh giá)</a>
                <div class="separator"></div>
                <div class="product-sold">Đã bán 1000 +</div>
            </div>
            <div class="product-price">
                <div id="pseudo-price">{{book.price}}</div>
                <div id="current-price"></div>
                <div id="price"></div>
                <div id="discount"></div>
            </div>

            {{!-- <h3>Giá chỉ : {{book.price}}</h3>
            <p>{{book.description}}</p>   --}}
        </div>
    </div>
</div>
<script>
    const currentPrice = document.getElementById('current-price')
    const beforePrice = document.getElementById('pseudo-price')
    const price = document.getElementById('price')
    const nBeforeNumber = parseInt(beforePrice.innerText)
    const saleOff = 30;

    function formatPrice(price){
        return price.replace(/\B(?=(\d{3})+(?!\d))/g, ',')
    }

    currentPrice.innerText = formatPrice(Math.round(nBeforeNumber - (saleOff / 100)*nBeforeNumber ).toString()) + ' đ'
    price.innerText = formatPrice(beforePrice.innerText) + ' đ';
    document.getElementById('discount').innerText = saleOff + '%'

</script>