<div class="mapper">
    <a href="/" class="mapper-item">
        <span>Trang chủ</span>
     </a>    
        <i class="fa-solid fa-angle-right"></i>
        <span>{{book.bookName}}</span>
   
</div>
<div class="container-fluid product-show-details">
    <div class="row">
        <div class="col-lg-4 col-left">
            <div class="product-img">
                <img src="{{book.image}}" alt=""  width="400px" height="400px">
            </div>
            <div class="product-action">
                <div class="text">
                    Chia sẻ : 
                </div>
                <img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/social-facebook.svg" alt="" class="icon" style="margin-left: 8px;">
                <img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/social-messenger.svg" alt="" class="icon">
                <img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/social-pinterest.svg" alt="" class="icon">
                <img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/social-twitter.svg" alt="" class="icon">
                <img src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/social-copy.svg" alt="" class="icon">
                <div class="separator" style="height: 24px;"></div>
                <div class="product_favorite d-flex flex-column align-items-center justify-content-center"></div>
                <div class="favorite-js-text">Thích</div>
            </div>
        </div>
        <div class="col-lg-8">
            
            <div class="author-name">
                <p class="title">Tác giả : {{book.authorName}}</p>
            </div>
            <div class="product-name">
                <p class="title">{{book.bookName}}</p>  
            </div>
            <div class="product-review">
                <div class="rating">
                    <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                    <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                    <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                    <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                    <i style="color: #fdd836;" class="fa-solid fa-star"></i>
                </div>
                <a href="#" class="number">(Xem 891 lượt đánh giá)</a>
                <div class="separator"></div>
                <div class="product-sold">Đã bán 1000 +</div>
            </div>
            <div class="product-price">
                <div id="pseudo-price">{{book.price}}</div>
                <div id="current-price"></div>
                <div id="price"></div>
                <div id="discount"></div>
            </div>
            <div class="item">
                <img src="https://salt.tikicdn.com/ts/upload/2e/da/c9/4b9c0150392c753ccb65b2595500e9d6.png" width="130" height="24" alt="">
                <div class="separator"></div>
                <div class="freeship-banner">
                    <i class="fa-solid fa-truck"></i>
                    Miễn phí vận chuyển
                </div>
            </div>
            <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
						<span>Số lượng :</span>
						<div class="quantity_selector">
							<span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
							<span id="quantity_value">1</span>
							<span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
						</div>
						<div class="red_button add_to_cart_button"><a href="#">Thêm vào giỏ hàng</a></div>
                        
            </div>

            {{!-- <h3>Giá chỉ : {{book.price}}</h3>
            <p>{{book.description}}</p>   --}}
        </div>
    </div>
</div>
<script>
    const currentPrice = document.getElementById('current-price')
    const beforePrice = document.getElementById('pseudo-price')
    const price = document.getElementById('price')
    const nBeforeNumber = parseInt(beforePrice.innerText)
    const saleOff = 30;

    function formatPrice(price){
        return price.replace(/\B(?=(\d{3})+(?!\d))/g, ',')
    }

    currentPrice.innerText = formatPrice(Math.round(nBeforeNumber - (saleOff / 100)*nBeforeNumber ).toString()) + ' đ'
    price.innerText = formatPrice(beforePrice.innerText) + ' đ';
    document.getElementById('discount').innerText = saleOff + '%'

</script>